/* ==========================================
   FOOTER
========================================== */

.footer{
    background:#081F45;
    color:#ffffff;
    padding:70px 0 20px;
}

.footer h3,
.footer h5{
    font-family:'Poppins', sans-serif;
    margin-bottom:20px;
}

.footer p{
    color:#d6d6d6;
    line-height:1.8;
}

.footer ul{
    list-style:none;
    padding:0;
}

.footer ul li{
    margin-bottom:10px;
}

.footer ul li a{
    text-decoration:none;
    color:#d6d6d6;
    transition:0.3s;
}

.footer ul li a:hover{
    color:#D4AF37;
}

.footer-contact p{
    margin-bottom:12px;
}

.footer hr{
    border-color:rgba(255,255,255,0.2);
    margin:40px 0 20px;
}

.footer-bottom{
    text-align:center;
    color:#d6d6d6;
    font-size:0.9rem;
}

/* ==========================================
   SOCIAL ICONS
========================================== */

.social-icons a{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    width:45px;

    height:45px;

    border-radius:50%;

    background:rgba(255,255,255,.08);

    color:#fff;

    text-decoration:none;

    margin-right:10px;

    transition:.3s;

}

.social-icons a:hover{

    background:#D4AF37;

    color:#000;

}