/* ==========================================
   ABOUT PAGE
========================================== */

.about-hero{

    background:#0B2C5F;

    color:#fff;

    padding:90px 0;

    text-align:center;

}

.about-section{

    padding:80px 0;

}

.about-section h2{

    color:#0B2C5F;

    margin-bottom:25px;

}

.value-card{

    background:#fff;

    padding:30px;

    border-radius:12px;

    text-align:center;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    height:100%;

    transition:.3s;

}

.value-card:hover{

    transform:translateY(-8px);

}

.value-card i{

    font-size:45px;

    color:#D4AF37;

    margin-bottom:20px;

}