/*====================================
HERO
====================================*/

.hero{

    position:relative;

    min-height:88vh;

    display:flex;

    align-items:center;

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

}

.hero-overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.30);

}

.hero-content{

    position:relative;

    z-index:2;

}

.hero-text{

    max-width:620px;

    color:#fff;

}

.hero-tag{

    display:inline-block;

    background:#D4AF37;

    color:#0B2C5F;

    padding:8px 18px;

    border-radius:50px;

    font-weight:600;

    margin-bottom:22px;

    letter-spacing:1px;

}



.hero-company{

    display:inline-block;

    color:#D4AF37;

    font-size:1rem;

    font-weight:700;

    letter-spacing:4px;

    text-transform:uppercase;

    margin-bottom:18px;

}

.hero h1{

    color:#fff;

    font-size:4.3rem;

    font-weight:800;

    line-height:1.1;

    margin-bottom:25px;

    text-shadow:0 8px 30px rgba(0,0,0,.45);

}

.hero p{

    color:#F3F3F3;

    font-size:1.18rem;

    line-height:1.9;

    max-width:650px;

    text-shadow:0 4px 18px rgba(0,0,0,.35);

}

.hero-buttons{

    display:flex;

    gap:18px;

    flex-wrap:wrap;

}