/*====================================
HERO
====================================*/

.hero{

    position:relative;

    min-height:88vh;

    display:flex;

    align-items:center;

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

}

.hero-overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.30);

}

.hero-content{

    position:relative;

    z-index:2;

}

.hero-text{

    max-width:620px;

    color:#fff;

}

.hero-tag{

    display:inline-block;

    background:#D4AF37;

    color:#0B2C5F;

    padding:8px 18px;

    border-radius:50px;

    font-weight:600;

    margin-bottom:22px;

    letter-spacing:1px;

}

.hero h1{

    font-size:3rem;

    line-height:1.2;

    font-weight:700;

    margin-bottom:20px;

}

.hero p{

    font-size:1.05rem;

    line-height:1.8;

    margin-bottom:35px;

    color:#f2f2f2;

}

.hero-buttons{

    display:flex;

    gap:18px;

    flex-wrap:wrap;

}