.whatsapp-float{

    position:fixed;

    right:25px;

    bottom:90px;

    width:60px;

    height:60px;

    background:#25D366;

    color:white;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    text-decoration:none;

    box-shadow:0 8px 20px rgba(0,0,0,.25);

    z-index:999;

    transition:.3s;

}

.whatsapp-float:hover{

    transform:scale(1.1);

    color:white;

}